{% extends 'base.html'%}

{% block title %}
Industery Blog
{% endblock title%}



{% block content%}

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="/static/assets/img/hero/Industries_hero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Works</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Gallery Start-->
        <div class="gallery-area section-padding2">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_1.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>01.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>01.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_7.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>02.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>02.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_3.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>03.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>03.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_2.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>04.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>04.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_4.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>05.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>05.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_5.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>06.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>06.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_6.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>07.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>07.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="/static/assets/img/gallery/gallery_7.png" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>08.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>08.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href={% url "work"%} class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End-->

        <!-- Want To Work Start -->
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="wantToWork-caption">
                            <h2>Want To Work<br> With Us? Hit The Button.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4">
                       <div class="wantToWork-btn f-right">
                            <a href="#" class="white-btn">Let’s Work Toghter</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Want To Work End -->

    </main>
{%endblock content %}